<div class="card-product">
  <%= image_tag "http://source.unsplash.com/featured/?#{pet.species.downcase}&#{rand(1000)}/800x333" %>
  <div class="card-product-infos">
    <h2><%= pet.name %></h2>
    <p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago</p>
    <p><%= pet.species %></p>
  </div>
  <%= link_to '', pet_path(pet), class: 'card-product-link'  %>
</div>
